@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");
.btn-blue a {
  /* Only need to pass in the button color and border properties. This check will set the correct
        text color. 
        If the button is yellow, the text should be black. Otherwise the text color is white. */
  color: #ffffff;
  background-color: #2772e5;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 1.15rem;
  font-weight: 700;
  padding: .85rem 2.5rem;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  display: block;
  align-self: baseline;
  box-sizing: border-box;
  min-width: 12.5rem;
  width: min-content; }
  .btn-blue a:hover, .btn-blue a:focus {
    box-shadow: 0px 0px 30px #2772e5;
    transition: box-shadow 0.2s ease-in-out; }

.btn-yellow a {
  /* Only need to pass in the button color and border properties. This check will set the correct
        text color. 
        If the button is yellow, the text should be black. Otherwise the text color is white. */
  color: #231f20;
  background-color: #ffd800;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 1.15rem;
  font-weight: 700;
  padding: .85rem 2.5rem;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  display: block;
  align-self: baseline;
  box-sizing: border-box;
  min-width: 12.5rem;
  width: min-content; }
  .btn-yellow a:hover, .btn-yellow a:focus {
    box-shadow: 0px 0px 30px #ffd800;
    transition: box-shadow 0.2s ease-in-out; }

.hero-with-feature-image {
  display: grid; }
  .hero-with-feature-image__text-wrapper {
    display: grid;
    padding: 1rem 1.5rem;
    row-gap: .75rem; }
    .hero-with-feature-image__text-wrapper h1, .hero-with-feature-image__text-wrapper h2, .hero-with-feature-image__text-wrapper h3, .hero-with-feature-image__text-wrapper h4, .hero-with-feature-image__text-wrapper h5, .hero-with-feature-image__text-wrapper h6 {
      text-align: center;
      line-height: 1.5; }
    .hero-with-feature-image__text-wrapper p,
    .hero-with-feature-image__text-wrapper h1,
    .hero-with-feature-image__text-wrapper dl,
    .hero-with-feature-image__text-wrapper dt,
    .hero-with-feature-image__text-wrapper dd {
      margin: 0; }
  .hero-with-feature-image__image-wrapper {
    height: 20rem;
    width: 100%;
    overflow: hidden;
    grid-row: 1/2;
    position: relative; }
    .hero-with-feature-image__image-wrapper .wp-post-image {
      height: 20rem;
      width: unset;
      max-width: unset;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
  .hero-with-feature-image div:last-child ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; }

@media screen and (min-width: 768px) {
  .hero-with-feature-image__text-wrapper {
    padding: 3.25rem; }
  .hero-with-feature-image__image-wrapper .wp-post-image {
    height: unset;
    width: 100%; } }

@media screen and (min-width: 1024px) {
  .hero-with-feature-image {
    grid-template-columns: repeat(2, 1fr); }
    .hero-with-feature-image__text-wrapper {
      align-content: center;
      padding: 0 7.75rem; }
      .hero-with-feature-image__text-wrapper h1, .hero-with-feature-image__text-wrapper h2, .hero-with-feature-image__text-wrapper h3, .hero-with-feature-image__text-wrapper h4, .hero-with-feature-image__text-wrapper h5, .hero-with-feature-image__text-wrapper h6 {
        text-align: left;
        line-height: 1.25; }
      .hero-with-feature-image__text-wrapper h1 {
        font-size: 3rem;
        font-weight: 900; }
    .hero-with-feature-image__image-wrapper {
      height: calc(100vh - 5.5rem); }
      .hero-with-feature-image__image-wrapper .wp-post-image {
        height: auto;
        max-width: unset;
        width: unset; }
      .hero-with-feature-image__image-wrapper--img-content {
        grid-column: 1/2;
        grid-row: 1/2; }
    .hero-with-feature-image .menu-donation-sponsorship-container ul {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 1rem; } }

.goals__heading {
  padding: 1rem 1.5rem;
  font-weight: 900;
  font-size: 2rem;
  text-align: center; }

.goals {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, auto);
  padding: 1.5rem 1.5rem 5rem 1.5rem; }
  .goals__copy {
    font-weight: 700;
    font-size: 1.1rem; }
  .goals__list {
    grid-row: 3/4;
    padding: 2rem 0;
    margin: 0; }
  .goals__list-item {
    display: grid;
    grid-template-columns: 4.75rem auto;
    margin-bottom: 1rem;
    font-size: 1rem;
    margin-bottom: 2rem; }
    .goals__list-item-icon {
      width: 3rem;
      justify-self: start;
      grid-column: 1/2;
      grid-row: 1/2;
      padding-top: 0.5rem; }
  .goals__image {
    height: 20rem;
    align-self: center;
    justify-self: center; }

@media screen and (min-width: 768px) {
  .goals {
    display: grid;
    grid-template-columns: 52% 48%;
    grid-template-rows: repeat(3, auto);
    padding: 0; }
    .goals__heading {
      padding: 0.75rem 3.25rem;
      grid-row: 1/2;
      grid-column: 1/3;
      font-size: 2rem;
      text-align: left; }
    .goals__copy {
      padding: 0 3.25rem 1.5rem 3.25rem;
      grid-row: 2/3;
      grid-column: 1/3;
      line-height: 2rem; }
    .goals__list {
      grid-row: 3/4;
      padding: 2rem 0 2rem 3.25rem; }
    .goals__list-item {
      display: grid;
      grid-template-columns: 3.75rem auto;
      margin-bottom: 1rem; }
      .goals__list-item-icon {
        width: 2rem;
        justify-self: start;
        grid-column: 1/2;
        grid-row: 1/2;
        padding-top: 0.4rem; }
    .goals__image {
      height: 20rem;
      align-self: center;
      justify-self: center; } }

@media screen and (min-width: 1024px) {
  .goals {
    grid-template-columns: 55% 45%;
    grid-template-rows: 5rem auto auto auto 5rem;
    padding: 0 3.25rem;
    row-gap: 1rem; }
    .goals__heading, .goals__copy, .goals__list {
      grid-column: 1/2;
      padding: 0; }
    .goals__heading {
      grid-row: 2/3;
      text-align: left; }
    .goals__copy {
      grid-row: 3/4; }
    .goals__list {
      grid-row: 4/5;
      padding-left: 5rem;
      padding: 0; }
    .goals__list-item {
      margin-bottom: 1rem; }
    .goals__image {
      grid-column: 2/3;
      grid-row: 1/6;
      height: 28rem;
      align-self: center;
      justify-self: center; }
  .goals {
    grid-template-rows: repeat(4, auto);
    padding: 4rem 7.75rem;
    grid-template-columns: 46%;
    row-gap: 2rem; }
    .goals__heading {
      font-size: 3.5rem;
      font-weight: 900; }
    .goals__copy {
      font-weight: 700; }
    .goals__list-item {
      margin-bottom: 1rem;
      font-size: 1.1rem;
      margin-bottom: 2rem;
      grid-template-columns: 7.75rem auto; }
      .goals__list-item-icon {
        width: 4rem;
        justify-self: start;
        padding-top: 0.5rem; }
    .goals__image {
      height: 82%;
      justify-self: end;
      align-self: center; } }

.site-header {
  width: 100%;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.75rem;
  box-sizing: border-box; }
  .site-header .custom-logo {
    width: 4.75rem;
    line-height: 0; }
  .site-header .site-title {
    display: none; }
  .site-header .menu-toggle {
    border: none;
    position: fixed;
    top: 1rem;
    right: 0;
    padding: 1.75rem;
    z-index: 100;
    border-radius: 10px 0 0 10px;
    background: #ffffff;
    cursor: pointer; }
  .site-header .toggled .menu {
    background: rgba(255, 255, 255, 0.95);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    opacity: 1; }
  .site-header .toggled .menu-item {
    height: 3rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; }
    .site-header .toggled .menu-item a {
      color: #363636;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      text-decoration: none;
      text-align: center;
      font-size: 1.8rem;
      line-height: 0; }
  .site-header .menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    position: fixed;
    left: 0;
    top: 0;
    height: 0;
    width: 0;
    z-index: 50;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.3s; }
  .site-header .menu-main-menu-container {
    height: 100%; }

body {
  font-family: "Lato", sans-serif; }

@media screen and (min-width: 1024px) {
  .site-header {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.07);
    position: fixed;
    z-index: 100;
    top: 0;
    line-height: 0; }
    .site-header .custom-logo {
      width: 4rem;
      border-bottom: none !important; }
    .site-header .menu-toggle {
      display: none; }
    .site-header .menu {
      width: auto;
      align-items: center;
      position: relative;
      height: inherit;
      opacity: 1;
      flex-direction: row;
      justify-content: space-around; }
      .site-header .menu .toggled {
        background: none;
        height: unset;
        width: unset;
        justify-content: start;
        box-sizing: border-box;
        opacity: 1; }
    .site-header .menu-item {
      display: block;
      width: unset;
      height: unset; }
      .site-header .menu-item a {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 700;
        color: #231f20;
        padding-right: 1.5rem;
        line-height: 1.75; }
    .site-header .current-menu-item {
      border-bottom: #2772e5 0.15rem solid; }
  main {
    margin-top: 5.75rem; } }

.main-navigation {
  width: 100%;
  max-width: 55rem; }
