@import "/variables.scss";

@mixin base-btn-style($buttonColor, $fontSize, $fontWeight) {
    color: if ($buttonColor == $yellow-hue-1, $black-hue-1, $white);
    background-color: $buttonColor;
    font-size: $fontSize;
    font-weight: $fontWeight;

    font-family: $default-font; // from variables.scss
}

@mixin border-btn-style($borderColor, $borderWidth){
    border-width: $borderWidth;
    border-color: $borderColor;
    border-radius: 10px;
}

@mixin btn-size($buttonWidth, $buttonHeight){
    width: $buttonWidth;
    height: $buttonHeight;
}