// yellow hues
$yellow-hue-1:#FFD800;
$yellow-hue-2:#FFE65F;
$yellow-hue-3:#FFF2AA;

// black hues
$black-hue-1:#231F20;
$black-hue-2:#363636;
$black-hue-3:#363636;

$white:#FFFFFF;
$blue:#2772E5;
$coral:#F3665B;
$light-pink:#F6B5C5;

