$image-width: (
    "half": 1fr 1fr,
    "one-two": 1fr 2fr,
    "two-one": 2fr 1fr,
    "three-five": 3fr 5fr,
    "five-three": 5fr 3fr,
    "five-seven": 5fr 7fr,
    "seven-five": 7fr 5fr,
    "seven-nine": 7fr 9fr,
    "nine-seven": 9fr 7fr
);

.hero-with-feature-image {
    display: grid;
    &__text-wrapper {
        display: grid;
        padding: 1rem $mobile-gutter;
        row-gap: 0.75rem;
        p,
        h1,
        dl,
        dt,
        dd {
            margin: 0;
        }
    }
    &__headline {
        text-align: center;
        line-height: 1.25;
        font-size: 3rem;
        font-weight: 900;
    }
    &__image-wrapper {
        height: 16rem;
        width: 100%;
        overflow: hidden;
        grid-row: 1/2;
        position: relative;
        .wp-post-image, img {
            width: 100%;
            height: auto;
            max-width: unset;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -40%);
        }
    }
    div:last-child {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            li {
                display: flex;
                padding-bottom: 1rem;
                justify-content: center;
            }
        }
    }
}

@media screen and (min-width: map-get($break-point , "md")) {
    .hero-with-feature-image {
        &__text-wrapper {
            padding: $tablet-gutter;
        }
        &__image-wrapper {
            height: 20rem;
            .wp-post-image, img {
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: map-get($break-point , "lg")) {
    .hero-with-feature-image {
        grid-template-columns: repeat(2, 1fr);
        &--content-img {
            grid-template-areas: "text image";
        }
        &--img-content {
            grid-template-areas: "image text";
        }
        @each $name, $size in $image-width {
            &--#{$name} {
                grid-template-columns: $size;
            }
        }
        &__text-wrapper {
            align-content: center;
            grid-area: text;
            padding: 0 $lg-gutter;
            h1, h2, h3, h4, h5, h6 {
                text-align: left;
                line-height: 1.25;
            }
        }
        &__image-wrapper {
            height: calc(100vh - 5.5rem);
            min-height: 35rem;
            grid-area: image;
            .wp-post-image, img {
                height: 100%;
                max-width: unset;
                width: unset;
                transform: translate(-50%, -50%);
            }
        }
        div:last-child {
            ul {
                flex-direction: row;
                li {
                    justify-content: start;
                    padding-right: 1rem;
                    padding-bottom: 0;
                }
            }
        }
    }
}

@media screen and (min-width: map-get($break-point , "xl")) {
    .hero-with-feature-image {
        &__text-wrapper {
            padding: 0 7rem;
        }
    }
}