.text-section {
    padding-bottom: 2.5rem;
    padding: 0 $mobile-gutter;
    display: grid;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    * {
        margin: 1rem 0;
    }
    h2 {
        text-align: center;
        margin: 0;
        font-size: 2.5rem;
        font-weight: $weight-black;
    }
    &__link {
        justify-self: center;
        &--yellow {
            @include base-btn-style($yellow-hue-1, none);
            &:hover,
            &:focus {
                @include base-btn-blur(30px, $yellow-hue-1);
            }
        }
        &--blue {
            @include base-btn-style($blue, none);
            &:hover,
            &:focus {
                @include base-btn-blur(30px, $blue);
            }
        }
        &--yellow,
        &--blue {
            width: max-content;
        }
    }
}

@media screen and (min-width: map-get($break-point , "md")) {
    .text-section {
        justify-content: center;
        padding: 9rem $tablet-gutter;
        background-size: 100% 100%;
    }
}

@media screen and (min-width: map-get($break-point , "lg")) {
    .text-section {
        padding: 10rem 0;
        background-size: contain;
        * {
            max-width: 43rem;
        }
    }
}
