@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");

// yellow hues
$yellow-hue-1: #ffd800;
$yellow-hue-2: #ffe65f;
$yellow-hue-3: #fff2aa;

// black hues
$black-hue-1: #231f20;
$black-hue-2: #363636;
$black-hue-3: #363636;

$white: #ffffff;
$blue: #2772e5;
$coral: #f3665b;
$light-pink: #f6b5c5;

// fonts
$default-font: "Lato", sans-serif;
$tablet-font-size: .85rem;

$break-point: (
    "sm": 576px,
    "md": 768px,
    "lg": 1024px,
    "xl": 1280px
);

// Gutters
$mobile-gutter: 1.5rem;
$tablet-gutter: 3.25rem;
$lg-gutter: 5rem;
$xl-gutter: 7rem;

// Icons
$lg-icon-size: 4rem;

// Font Weight
$weight-regular: 400;
$weight-bold: 700;
$weight-black: 900;